.background-logotype{
    display: grid;
    grid-template-columns: 83px;
    grid-template-rows: 83px 16px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.--backgroung-gradient-blue{
    height: 100vh;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(39,9,121,1) 35%, rgba(0,212,255,1) 100%);
    background-repeat: no-repeat;
}

.floating-menu {
    font-family: sans-serif;
    z-index: 10;
    display: block;
    position: fixed;
}

.fw-7{
    font-size: 14px !important;
}

.r-10 {
    width: 10rem;
}